.vscode/**
.vscode-test/**
out/**
node_modules/**
packages/app/node_modules
packages/app/.env
packages/app/.env.development
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/*.tsx
docs/**
